.add-item-button{
    all:unset; 
    background-color: #9D2235;
    color: #FFFFFF;
    width: 14em;
    height: 4em;
    border-radius: 2em;
    margin-top: 2em;
    text-align: center;
}

.gray-label{
    color: gray;
    margin-top: 2em;
    margin-bottom: 2em;
}