/* ItemCard.css */

.container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  
  .card {
    width: 100%;
    max-width: 350px;
    height: 315px;
    position: relative;
    border-radius: 16px !important;
    cursor: pointer;
  }

  .image {
    height: 200px;
    margin-top: 16px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 16px;
    position: relative;
  }

  .textDiv {
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .nameText {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #425466;
  }

  .sizeText {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #27272E;
  }
  
  .addButton {
    position: absolute !important;
    background-color: #A51E36 !important;
    top: 11px;
    right: 9px;
    border-radius: 9999px !important;
}

.modal {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
  background-color: 'background.paper';
  border: '2px solid #000';
  box-shadow: 24;
  padding: 4;
}