.vim-modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vim-card {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 50%;
    max-width: 1129px;
    max-height: 721px;
    min-height: 50%;
    background-color: #fff;
    border-radius: 51px !important;
    padding: 48px;
    outline: none;
}

.vim-close-btn {
    position: absolute !important;
    transform: scale(1.3);
    top: 24px;
    right: 24px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.vim-close-btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.vim-card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: 100%;
    gap: 20px;
}

.vim-card-media {
    flex-basis: 40%;
    height: 0;
    padding-top: 56.25%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.vim-card-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10%;
}

.vim-card-content > * {
    margin-bottom: 24px;
}

.vim-card-content > :last-child {
    margin-bottom: 0;
}

.vim-card-content > button {
    border-radius: 50px;
    padding: 8px 16px;
}

.vim-card-content > button:first-child {
    margin-right: 16px;
}

.vim-card-content > button:hover {
    background-color: #1976d2;
    color: #fff;
}

.vim-card-content > button:first-child:hover {
    background-color: #fff;
    color: #1976d2;
}

.vim-card-content > h2 {
    text-align: center;
}

.vim-card-content > p {
    text-align: center;
}

.vim-card-content > h2,
.vim-card-content > p {
    margin-bottom: 12px;
}

.vim-card-content > h2:last-child,
.vim-card-content > p:last-child {
    margin-bottom: 0;
}

.vim-card-content .MuiTextField-root,
.vim-card-content .MuiFormControl-root {
    margin-bottom: 24px;
}
  
.vim-card-btns .MuiIconButton-root {
    margin-left: 16px;
}